.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-leaf
    {{ 'TITLES.ADMIN' | translate }}
  .panel-body#with-background
    %table.table
      %tr
        %th
        %th
          ID
        %th
        %th
        %th
          {{ 'COLUMNS.EMAIL' | translate }}
        %th
          {{ 'COLUMNS.LAST_LOGIN_TIME' | translate }}
      %tr{'ng-repeat': 'user in admin.users'}
        %td
          %span.red.glyphicon.glyphicon-king{'ng-show': 'user.admin'}
        %td
          {{ user.id }}
        %td
          %span.label{'ng-class': 'user.status_label_name'}
            {{ user.status }}
        %td
          %span.label{'ng-class': 'user.type_label_name'}
            {{ user.type }}
        %td
          {{ user.email }}
        %td
          {{ user.last_sign_in_at }}
