%admin-menu-directive

.panel.panel-default
  .panel-heading
    %span.glyphicon.glyphicon-leaf
    {{ 'TITLES.FEEDBACKS' | translate }}
  .panel-body#with-background
    %nav
      %ul.pagination
        %li{'ng-click': 'admin.clickPaginate(number)', 'ng-repeat': 'number in admin.offset_numbers', 'ng-class': '{active: number == admin.offset}'}
          %a
            {{$index + 1}}
    %table.table
      %tr
        %th
        %th
          {{ 'COLUMNS.EMAIL' | translate }}
        %th
          {{ 'COLUMNS.USER' | translate }}
        %th
          {{ 'COLUMNS.MESSAGE' | translate }}
        %th
          {{ 'COLUMNS.CREATED_AT' | translate }}
      %tr{'ng-repeat': 'feedback in admin.feedbacks'}
        %td
          %span.red.glyphicon.glyphicon-check{'ng-show': 'feedback.checked'}
          {{ feedback.checked }}
        %td
          {{ feedback.email }}
        %td
          %span.red.glyphicon.glyphicon-user{'ng-show': 'feedback.user_id'}
          {{ feedback.user_id }}
        %td
          {{ feedback.content }}
        %td
          {{ feedback.created_at }}
