<admin-menu-directive></admin-menu-directive>
<div class='panel panel-default'>
  <div class='panel-heading'>
    <span class='glyphicon glyphicon-leaf'></span>
    {{ 'TITLES.FEEDBACKS' | translate }}
  </div>
  <div class='panel-body' id='with-background'>
    <nav>
      <ul class='pagination'>
        <li ng-class='{active: number == admin.offset}' ng-click='admin.clickPaginate(number)' ng-repeat='number in admin.offset_numbers'>
          <a>
            {{$index + 1}}
          </a>
        </li>
      </ul>
    </nav>
    <table class='table'>
      <tr>
        <th></th>
        <th>
          {{ 'COLUMNS.EMAIL' | translate }}
        </th>
        <th>
          {{ 'COLUMNS.USER' | translate }}
        </th>
        <th>
          {{ 'COLUMNS.MESSAGE' | translate }}
        </th>
        <th>
          {{ 'COLUMNS.CREATED_AT' | translate }}
        </th>
      </tr>
      <tr ng-repeat='feedback in admin.feedbacks'>
        <td>
          <span class='red glyphicon glyphicon-check' ng-show='feedback.checked'></span>
          {{ feedback.checked }}
        </td>
        <td>
          {{ feedback.email }}
        </td>
        <td>
          <a href='' ng-click='admin.user(feedback.user_id)'>
            <span class='red glyphicon glyphicon-user' ng-show='feedback.user_id'></span>
            {{ feedback.user_name }}
          </a>
        </td>
        <td>
          {{ feedback.content }}
        </td>
        <td>
          {{ feedback.created_at }}
        </td>
      </tr>
    </table>
  </div>
</div>
<script id='user' type='text/ng-template'>
  <div class='modal-body'>
    <form class='form-horizontal'>
      <div class='form-group'>
        <div class='col-sm-2'>
          <span class='label' ng-class='user.user.type_label_name'>
            {{ user.user.type }}
          </span>
        </div>
        <div class='col-sm-2'>
          <span class='label' ng-class='user.user.status_label_name'>
            {{ user.user.status }}
          </span>
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-3'>
          {{ 'COLUMNS.EMAIL' | translate }}
        </div>
        <div class='col-sm-9'>
          {{ user.user.email }}
        </div>
      </div>
      <div class='form-group'>
        <div class='col-sm-3'>
          {{ 'COLUMNS.LAST_LOGIN_TIME' | translate }}
        </div>
        <div class='col-sm-9'>
          {{ user.user.last_sign_in_at }}
        </div>
      </div>
    </form>
  </div>
</script>
