.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-film
    span(translate='TITLES.TERMS')
  .panel-body#with-background
    p
      | 管理者 (
      a(href='https://twitter.com/kae_kasui') @kae_kasui
      | ) が運営/管理しておりますウェブサイト（以下「本サイト」）を利用されるユーザー様には、以下のご利用規約（以下「本規約」）に従っていただき、本サイトのサービスをご利用いただきます。
    p 本サイトをご利用の際には、本規約の内容をご承諾いただいたものとみなします。
    p なお、本規約を予告なく変更する場合があります。
    p 改定後の本規約につきましては、遅滞なく本サイトに反映いたしますので、最新の内容をご確認ください。
    p 以上につき、ご了承いただきますようお願いします。
    hr
    h4
      span.glyphicon.glyphicon-thumbs-up
      span(translate='TERMS.DIRECTION')
    p 管理者は、本サイトのサービス内容の変更、追加、停止、中止、廃止等をユーザー様に事前に通知することなく行うことができるものとします。
    p なお、システムの障害や不備、その他ご要望等ございましたら、「フィードバック」からのお問い合わせ、またはメールにてご連絡ください。
    img(ng-src='assets/images/pig_book_notice.png' width='15%')
    h4
      span.glyphicon.glyphicon-thumbs-up
      span(translate='TERMS.NOTE')
    p 本サイトのご利用にあたりまして、ユーザー様は、本規約の他の条項で禁止する行為の他、以下の行為を行ってはならないものとします。
    p 本サイトにて、ユーザー様の禁止行為を確認した場合、アカウントの停止、ブロック、削除を行う場合があります。
    ol
      li 他のユーザー様、第三者または管理者の著作権、プライバシー、財産権その他の権利または利益を侵害、または侵害するおそれのある行為
      li 他のユーザー様、第三者または管理者への迷惑行為、不利益もしくは損害を与える行為、またはそれらのおそれのある行為
      li 公序良俗に反する行為、法令・条例に違反する行為、またはそれらのおそれのある行為
      li 本サイトの利用に際し、悪質かつ虚偽の内容を申請する行為
      li メールアドレス、氏名、その他の個人情報を不正に仕様する行為
      li 本サイトを利用した営業行為、営利目的行為、またはその準備を目的とした
      li その他本サイトの運営を妨げ、またはサービスの提供に支障をきたすおそれのある行為
    h4
      span.glyphicon.glyphicon-thumbs-up
      span(translate='TERMS.PRIVACY')
    p 管理者は、ユーザー様の個人情報を適切に取り扱うものとします。
    p ユーザー様の個人情報のお取り扱いにつきましては、下記の通りです。
    ol
      li 本サイトにてご登録いただくメールアドレスなどの個人情報について、適切な管理を行っております。個人情報を保護するために、セキュリティ面での強化や運用面での対策を実施し、日々の運営/管理に取り組んでおります。
      li 本サイトにおける「個人情報」とは、本サイトを通じてユーザー様よりお預かりいただく「メールアドレス」を指しています。
      li 本サイトの個人情報を取り扱うにあたる責任者は、本サイトの管理者です。
      li ユーザー様よりお預かりいただく個人情報の利用用途は、以下のとおりです。下記に示す用途以外で利用することはありません。
        ul
          li ユーザー様よりお問い合わせいただいた際の回答をするため
          li 会員登録やその他通知にて該当のメールアドレスに送付するため
          li 会員登録またはメールアドレス変更時に、メール確認をするため
      li 本サイトの個人情報は、下記の場合をのぞき、一切の開示をいたしません。
        ul
          li 法令等により開示、提供が要求された場合
          li ユーザー様の同意を得た場合
          li ユーザー様の公衆の生命、健康、財産などに重大な損害が発生することを防止するために必要な場合
    h4
      span.glyphicon.glyphicon-thumbs-up
      span(translate='TERMS.IMMUNITY')
    p 管理者は、下記に記載された条項については、免責されるものとします。
    ol
      li 本サイトの情報の正確性および完全性について保証しません。
      li 本サイトからのデータのダウンロードや資料の利用により生じた損害につききまして、理由の如何に関わらず、本サイト管理者は一切の責任を負わないものとします。
      li 本サイトは、第三者の情報の一部、および統計を掲載しています。掲載情報について、正確性および完全性を保証しません。
      li 本サイトは、個人情報について記載する通りセキュリティ対策を講じておりますが、セキュリティが完全であると断言できないことから、情報の漏洩・消失・第三者による改ざん等の防止を保証しません。
      li 本サイトからのリンクを含み、本サイト以外でのサイトにおいて、ユーザー様の個人情報の安全確保について、責任を負わないものとします。
    h4
      span.glyphicon.glyphicon-thumbs-up
      span(translate='TERMS.COPYRIGHT')
    ol
      li 本サイトの著作権、商標権、肖像権その他の一切の権利は、特に定めない限り、管理者に帰属するものとし、ユーザー様は権利者の権利を尊重するものとします。
      li ユーザー様は、本サイトの利用により得られる一切の情報、画像等について、著作権利者（管理者）の許諾を得ずに、著作権法に定める個人の私的使用その他法律によって明示的に認められる範囲を超えて、これらの全部または一部の利用、転載、複製、配布、改変等をすることはできません。
      li 本サイトからの電子メールの内容など、本サイトとは別にご利用になるサービスで本サイトに関連する著作物についても、著作権は管理者に帰属するものとします。
    h4
      span.glyphicon.glyphicon-thumbs-up
      span(translate='TERMS.ENVIRONMENT')
    p 本サイトを快適にご利用いただく為に、インターネットに接続可能なパソコンと、下記の条件を満たした環境をおすすめ致します。
    p 下記以外の環境でご利用いただいた場合、本サイトの利用に必要な機能が使用できず、画面が正常に表示されない、動作しない等の現象が起きることがあります。
    p 下記環境にて、動作に問題があった場合には、「フィードバック」よりお問い合わせください。
    ol
      li Windowsをご使用の場合
        ul
          li OS：Windows VISTA、Windows 7
          li ブラウザ：Google Chrome 最新版、Mozilla Firefox 最新版
      li Macをご使用の場合
        ul
          li OS：Mac OSX 10.6以降
          li ブラウザ：Google Chrome 最新版、Mozilla Firefox 最新版
      li ※スマートフォンの場合、一部ご利用になれない機能はございますが、基本的な操作は可能です。
    h4
      span.glyphicon.glyphicon-thumbs-up
      span(translate='TERMS.LINKS')
    p 本サイトへのリンクは、原則としてどなたでもご自由にリンクをしていただいて結構です。
    p 本サイトへのリンクに際し、管理者への報告の義務はございません。
    p ただし、下記注意事項をよくご確認いただきまして、注意事項の遵守をお願いいたします。
    h4
      span.glyphicon.glyphicon-thumbs-up
      span(translate='TERMS.PROPER_LAW')
    p 本規約の成立、効力、履行および解釈に関しては、日本法が適用されるものとします。
