nav.navbar.navbar-default(role='navigation')
  .navbar-header
    a.navbar-brand(ui-sref='home')
      img(src='assets/images/pig.gif')
      span.brand-name(translate='BRAND_NAME')
      span.glyphicon.glyphicon-paperclip
  .collapse.navbar-collapse
    // 左側メニュー
    ul.nav.navbar-nav
      li
        a(ui-sref='home')
          span.glyphicon.glyphicon-home#left-icon
          span(translate='TITLES.HOME')
      li(ng-show='navbar.current_user')
        a
          span.glyphicon.glyphicon-stats#left-icon
          span(translate='TITLES.DASHBOARD')
      li(ng-show='navbar.current_user')
        a(ui-sref='list')
          span.glyphicon.glyphicon-list#left-icon
          span(translate='TITLES.LIST')
      li(ng-show='navbar.current_user')
        a(ui-sref='new_record')
          span.red.glyphicon.glyphicon-piggy-bank#left-icon
          span.red.dotted(translate='TITLES.NEW_RECORD')
      li
        a(ng-click='navbar.feedback()', href='')
          span.glyphicon.glyphicon-comment#left-icon
          span(translate='TITLES.FEEDBACK')
    // 右側メニュー
    ul.nav.navbar-nav.navbar-right
      li(ng-show='navbar.current_user != undefined && navbar.current_user.admin')
        a(ui-sref='admin_users')
          span.glyphicon.glyphicon-king#left-icon
          span(translate='TITLES.ADMIN')
      li.dropdown.open(ng-init='isCollapsed = true' ng-click='isCollapsed = !isCollapsed' role='presentation' ng-show='navbar.current_user != undefined')
        a.dropdown-toggle(data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' role: 'button' href='')
          span.glyphicon.glyphicon-cog#left-icon
          span#left-icon(translate='TITLES.SETTINGS')
          span.caret
        ul.dropdown-menu(ng-hide='isCollapsed')
          li
            a(ui-sref='categories' translate='TITLES.CATEGORY')
          li
            a(ui-sref='places' translate='TITLES.PLACE')
      li(ng-hide='navbar.current_user != undefined')
        a(ui-sref='login')
          span.glyphicon.glyphicon-leaf#left-icon
          span(translate='TITLES.LOGIN')
      li(ng-show='navbar.current_user != undefined')
        a(ui-sref='mypage')
          span.glyphicon.glyphicon-user#left-icon
          span {{ navbar.current_user.user_name }}
      li(ng-show='navbar.current_user != undefined')
        a(href='' ng-click='navbar.logout()')
          span.glyphicon.glyphicon-leaf#left-icon
          span(translate='TITLES.LOGOUT')

script#feedback(type='text/ng-template')
  form(novalidate=true name='feedbackForm' ng-submit='feedback.submit()')
    .modal-header
      button.btn.btn-success(type='submit' ng-disabled='(feedbackForm.$submitted && feedbackForm.$invalid) || feedback.sending' translate='BUTTONS.SEND')
      a.btn.btn-default.pull-right(ng-click='feedback.cancel()' translate='BUTTONS.CLOSE')
    .modal-body
      .form-group(ng-if='feedback.current_user == undefined')
        label(for='email')
          span(translate='LABELS.FEEDBACK_EMAIL')
          span *
        input.form-control#email(type='email' name='email' ng-model='feedback.email' required=true ng-maxlength='100')
        span.errors(ng-messages='feedbackForm.email.$error' ng-show='feedbackForm.$submitted')
          div(ng-message='required')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.REQUIRED.EMAIL')
          div(ng-message='email')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.EMAIL')
          div(ng-message='maxlength')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.MAXLENGTH.EMAIL')

      .form-group
        label(for='content')
          span(translate='LABELS.MESSAGE')
          span *
        textarea.form-control(rows='5' name='content' ng-model='feedback.content' required=true ng-maxlength='1000' placeholder='{{feedback.placeholder}}')
        span.errors(ng-messages='feedbackForm.content.$error' ng-show='feedbackForm.$submitted')
          div(ng-message='required')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.REQUIRED.CONTENT')
          div(ng-message='maxlength')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.MAXLENGTH.CONTENT')
