nav.navbar.navbar-default(role='navigation')
  .navbar-header
    a.navbar-brand(ui-sref='home')
      img(src='assets/images/pig.gif')
      span.brand-name(translate='BRAND_NAME')
      span.glyphicon.glyphicon-paperclip
    // スマホ用メニュー
    button.navbar-toggle.collapsed(type='button' ng-click='navbar.menuCollapsed = !navbar.menuCollapsed')
      span.icon-bar
      span.icon-bar
      span.icon-bar
  .navbar-collapse.collapse(collapse='!navbar.menuCollapsed')
    // 左側メニュー
    ul.nav.navbar-nav
      li
        a(ui-sref='home')
          span.glyphicon.glyphicon-home#left-icon
          span(translate='TITLES.HOME')
      li(ng-show='navbar.current_user')
        a(ui-sref='dashboard')
          span.glyphicon.glyphicon-stats#left-icon
          span(translate='TITLES.DASHBOARD')
      li(ng-show='navbar.current_user')
        a(ui-sref='list')
          span.glyphicon.glyphicon-list#left-icon
          span(translate='TITLES.LIST')
      li(ng-show='navbar.current_user')
        a(ui-sref='new_record')
          span.red.glyphicon.glyphicon-piggy-bank#left-icon
          span.red.dotted(translate='TITLES.NEW_RECORD')
      li
        a(ng-click='navbar.feedback()' href='' analytics-on='クリック' analytics-category='フィードバック' analytics-event='モーダル表示')
          span.glyphicon.glyphicon-comment#left-icon
          span(translate='TITLES.FEEDBACK')
    // 右側メニュー
    ul.nav.navbar-nav.navbar-right
      li(ng-show='navbar.current_user != undefined && navbar.current_user.admin')
        a(ui-sref='admin_users')
          span.glyphicon.glyphicon-king#left-icon
          span(translate='TITLES.ADMIN')
      li.dropdown(ng-click='isCollapsed = !isCollapsed' role='presentation' ng-show='navbar.current_user != undefined' dropdown='true')
        a.dropdown-toggle(dropdown-toggle='true' href='' ng-click='isCollapsed = !isCollapsed')
          span.glyphicon.glyphicon-cog#left-icon
          span#left-icon(translate='TITLES.SETTINGS')
          span.caret
        ul.dropdown-menu(dropdown-menu='true')
          li
            a(ui-sref='base_setting' translate='TITLES.BASE_SETTING')
          li
            a(ui-sref='categories' translate='TITLES.CATEGORY')
          li
            a(ui-sref='places' translate='TITLES.PLACE')
      li(ng-hide='navbar.current_user != undefined')
        a(ui-sref='login')
          span.glyphicon.glyphicon-leaf#left-icon
          span(translate='TITLES.LOGIN')
      li(ng-show='navbar.current_user != undefined')
        a(ui-sref='mypage')
          span.glyphicon.glyphicon-user#left-icon
          span {{ navbar.current_user.user_name }}
      li(ng-show='navbar.current_user != undefined')
        a(href='' ng-click='navbar.logout()')
          span.glyphicon.glyphicon-leaf#left-icon
          span(translate='TITLES.LOGOUT')
