.modal-body
  loading-directive(target='modal')
  .form-group.form-inline
    label(for='name' translate='COLUMNS.USER')
    p.form-control-static {{ message.message.user_name }}
  .form-group.form-inline(ng-show='message.message.feedback_content')
    label(for='feedback.id' translate='LABELS.FEEDBACK')
    pre
      | {{ message.message.feedback_content }}
  .form-group
    label(for='content')
      span(translate='LABELS.MESSAGE')
    div(marked='message.message.content')
