form.form.form-inline
  // 年、月、日
  ol.breadcrumb.inline-block
    li
      a(translate='TITLES.YEAR' href='' ng-hide="list.selected_list == 'year'" ng-click='list.selectYearList()')
      b(translate='TITLES.YEAR' ng-show="list.selected_list == 'year'")
    li
      a(translate='TITLES.MONTH' href='' ng-hide="list.selected_list == 'month'" ng-click='list.selectMonthList()')
      b(translate='TITLES.MONTH' ng-show="list.selected_list == 'month'")
    li
      a(translate='TITLES.DAY' href='' ng-hide="list.selected_list == 'day'" ng-click='list.selectDayList()')
      b(translate='TITLES.DAY' ng-show="list.selected_list == 'day'")

  // 年
  select.form-control(ng-model='list.year' ng-show="list.selected_list == 'year'" ng-options="year as year + ' 年' for year in list.years" ng-value="list.year" ng-change='list.selectYear(list.year)')

  // 月
  ol.breadcrumb.inline-block(ng-show="list.selected_list == 'month'")
    li(ng-repeat='month in list.months')
      a(href='' ng-click='list.selectMonth(month)' ng-style="{'font-weight': list.month == month ? 'bold' : 'normal'}") {{ month }} 月
  select.form-control(ng-model='list.year' ng-show="list.selected_list == 'month'" ng-options="year as year + ' 年' for year in list.years" ng-value='list.year' ng-change='list.selectYearMonth(list.year)')

  // 日
  input.btn.btn-default(type='date' ng-model='list.day' datepicker-popup=true required='true' ng-change='list.changeDate()' ng-show="list.selected_list == 'day'")

// リスト
.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-list#left-icon
    span(ng-show="list.selected_list == 'day'") {{ list.day | date:'yyyy年MM月dd日' }}
    span(ng-show="list.selected_list == 'month'") {{ list.year }}年{{list.month}}月
    span(ng-show="list.selected_list == 'year'") {{ list.year }}年
    span(translate='LABELS.ADD_RECORDS')
  .panel-body#with-background
    loading-directive
    table.table(ng-show='list.records')
      tr(ng-repeat='record in list.records')
        td {{ record.published_at }}
        td
          label.label.label-warning {{ record.category_name }}
        td
          label.label.label-info {{ record.breakdown_name }}
        td
          label.label.label-primary {{ record.place_name }}
        td
          label.label.label-default {{ record.memo }}
        td
          span.glyphicon.glyphicon-bookmark#left-icon(ng-repeat='tag in record.tags' ng-style="{color:tag.color_code}" uib-tooltip='{{tag.name}}')
        td
          span.glyphicon.glyphicon-arrow-up.green(ng-show='record.payments' uib-tooltip="{{ 'TOOLTIPS.INCOME' | translate }}")
          span.glyphicon.glyphicon-arrow-down.red(ng-show='!record.payments' uib-tooltip="{{ 'TOOLTIPS.OUTGO' | translate }}")
        td {{ list.user.currency }} {{ record.charge | currency:'':0 }}
        td
          a(href='' ng-click='list.showRecord($index)')
            span.glyphicon.glyphicon-info-sign.green(uib-tooltip="{{'TOOLTIPS.DETAIL' | translate}}")
        td
          a(href='' ng-click='list.destroyRecord($index)')
            span.glyphicon.glyphicon-trash.green(uib-tooltip="{{'TOOLTIPS.DELETE' | translate}}")
    nav(ng-show='list.offset_numbers.length >= 2')
      ul.pagination
        li(ng-click='list.clickPaginate(number)' ng-repeat='number in list.offset_numbers' ng-class='{active: number == list.offset}')
          a {{$index + 1}}
    button.btn.btn-default.pull-right(ng-click='list.downloadCSV()' ng-disabled='list.downloading')
      span {{ 'BUTTONS.CSV_DOWNLOAD' | translate }}
