.modal-header
  span.glyphicon.glyphicon-question-sign#left-icon
  span ラベルについて
.modal-body
  p 一つの登録につき、複数のラベルを設定できます。
  p （画像）
  p 登録されているラベルが候補として表示されるので、選択してください。
  p なお、文字を入力するとその文字列に一致したラベルが候補として表示されます。
  p （画像）
  p 文字を直接入力することで、ラベルを新規作成することもできます。
  p ※ 入力した文字列が、候補のラベルと一致して一覧に表示されたままEnterキーを押すと、候補から選択されます。候補から選択しない場合、escキーでラベル候補の一覧を非表示にしてください。
  p （画像）
  p また、ラベルをクリックすることで、色を登録・更新することができます。
  p （画像）
  p ラベルの色の変更は、「各種設定 > ラベルの管理」からも行うことができます。
  p ラベルの新規登録で色を選択しなかった場合、ランダムな色が設定されます。
