form.form-inline(novalidate=true name='newCategoryForm' ng-submit='new_category.createCategory()')
  .modal-header
    button.btn.btn-success(translate='BUTTONS.ADD' ng-disabled='newCategoryForm.name.$dirty && newCategoryForm.$invalid')
    a.btn.btn-default.pull-right(translate='BUTTONS.CANCEL' ng-click='new_category.cancel()')
  .modal-body
    // 収入・支出
    p
      label.radio-inline
        input(type='radio' name='barance_of_payments' ng-model='new_category.new_payments' ng-value='false')
        span(translate='BUTTONS.OUTGO')
      label.radio-inline
        input(type='radio' name='barance_of_payments' ng-model='new_category.new_payments' ng-value='true')
        span(translate='BUTTONS.INCOME')
    // 入力フォーム
    p
      input.form-control(name='name' ng-model='new_category.new_category_name' auto-focus=true type='text' required=true ng-maxlength='100')
    // エラーメッセージ
    span.errors(ng-messages='newCategoryForm.name.$error' ng-show='newCategoryForm.name.$dirty || newCategoryForm.$submitted')
      div(ng-message='required')
        span.glyphicon.glyphicon-alert#left-icon
        span(translate='ERRORS.REQUIRED.CATEGORY_NAME')
      div(ng-message='maxlength')
        span.glyphicon.glyphicon-alert#left-icon
        span(translate='ERRORS.MAXLENGTH.CATEGORY_NAME')
