.col-md-3
  .menu-directive{'menu-data': 'mypage.menus' }

.col-md-9
  .panel.panel-default
    .panel-heading
      %span.glyphicon.glyphicon-leaf
      {{ 'TITLES.MYPAGE' | translate }}
    .panel-body#with-background
