flex-slider(flex-slide='slide in main.slides track by slide.id' animation='slide')
  li
    img(ng-src="{{slide.image}}" style="margin:auto;")

//.row
  // お知らせ
  .col-md-12
    .panel.panel-default
      .panel-heading
        span.glyphicon.glyphicon-film#left-icon
        span(translate='TITLES.NOTICE_LIST')
      .panel-body
        loading-directive
        ul.list
          //li(ng-show='main.notices.length == 0')
            span#post_at(translate='MESSAGES.NOT_FOUND_NOTICE')
          //li(ng-repeat='notice in main.notices | limitTo:5')
            span#post_at {{ notice.post_at }}
            a(ui-sref='notice({id: notice.id})') {{ notice.title }}
