img(ng-src='assets/images/loader.gif' width='60px' ng-show='loading.loading' alt='loading.target' ng-if='loading.target == undefined')
img(ng-src='assets/images/loader.gif' width='60px' ng-show='loading.modal_loading' alt='loading.target' ng-if="loading.target == 'modal'")
img(ng-src='assets/images/loader.gif' width='60px' ng-show='loading.notice_loading' alt='loading.target' ng-if="loading.target == 'notice'")
img(ng-src='assets/images/loader.gif' width='60px' ng-show='loading.message_loading' alt='loading.target' ng-if="loading.target == 'message'")
img(ng-src='assets/images/loader.gif' width='60px' ng-show='loading.records_loading' alt='loading.target' ng-if="loading.target == 'records'")
