ol.breadcrumb
  li
    a(ui-sref='admin_users')
      span(translate='TITLES.USER')
  li
    a(ui-sref='admin_feedbacks')
      span(translate='TITLES.FEEDBACK')
  li
    a(ui-sref='admin_notices')
      span(translate='TITLES.NOTICE')
