admin-menu-directive

.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-leaf#left-icon
    span {{ 'TITLES.NOTICES' | translate }}
  .panel-body#with-background
    loading-directive
    .btn.btn-info(translate='BUTTONS.ADD' ng-click='admin_notices.newNotice()' ng-show='admin_notices.notices')
    nav
      ul.pagination
        li(ng-click='admin_notices.clickPaginate(number)' ng-repeat='number in admin_notices.offset_numbers' ng-class='{active: number == admin_notices.offset}')
          a(href='') {{$index + 1}}
    table.table(ng-show='admin_notices.notices')
      tr
        th
        th
        th(translate='COLUMNS.TITLE')
        th(translate='COLUMNS.CONTENT')
        th(translate='COLUMNS.POST_AT')
        th
      tr(ng-repeat='notice in admin_notices.notices')
        td
        td
        td
          a(href='' ng-click='admin_notices.showNotice($index)') {{ notice.title }}
        td {{ notice.content }}
        td {{ notice.post_at }}
        td
          a(href='' ng-click='admin_notices.destroyNotice($index)' translate='LINKS.DELETE')


