admin-menu-directive

.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-leaf(translate='TITLES.USERS')
  .panel-body#with-background
    loading-directive
    nav
      ul.pagination
        li(ng-click='admin_users.clickPaginate(number)' ng-repeat='number in admin_users.offset_numbers' ng-class='{active: number == admin_users.offset}')
          a {{$index + 1}}
    table.table(ng-show='admin_users.users')
      tr
        th
        th ID
        th
        th
        th
        th(translate='COLUMNS.NICKNAME')
        th(translate='COLUMNS.EMAIL')
        th(translate='COLUMNS.LAST_LOGIN_TIME')
      tr(ng-repeat='user in admin_users.users')
        td
          span.red.glyphicon.glyphicon-king(ng-show='user.admin')
        td {{ user.id }}
        td
          span.label(ng-class='user.status_label_name') {{ user.status }}
        td
          span.label(ng-class='user.type_label_name') {{ user.type }}
        td
          a(href='' ng-click='admin_users.message(user.id)')
            span.glyphicon.glyphicon-envelope
        td
          span {{ user.nickname }}
        td {{ user.email }}
        td {{ user.last_sign_in_at }}

script#new-message(type='text/ng-template')
  form(novalidate=true name='messageForm' ng-submit='message.submit()')
    .modal-header
      button.btn.btn-success(type='submit' ng-disabled='messageForm.$submitted && messageForm.$invalid' translate='BUTTONS.SEND')
      a.btn.btn-default(ng-click='message.cancel()' translate='BUTTONS.CLOSE')
    .modal-body
      loading-directive(target='modal')
      pre(ng-show='message.feedbacks[message.feedback_index_id]')
        | {{ message.feedbacks[message.feedback_index_id].content }}
      .form-group.form-inline(ng-hide='message.feedbacks.length == 0')
        label(for='feedback.id' translate='LABELS.FEEDBACK')
        select.form-control(ng-model='message.feedback_index_id')
          option(ng-value='')
          option(ng-value='$index' name='feedback.id' ng-repeat='feedback in message.feedbacks')
            | {{ feedback.content | truncate:true:10 }}
        label.label.label-info(ng-show='message.feedbacks[message.feedback_index_id].checked' translate='LABELS.FINISHED')
      .form-group
        label(for='content')
          span(translate='LABELS.MESSAGE')
          span *
        textarea.form-control(rows='10' name='content' ng-model='admin_message.content' ng-maxlength='10000' required=true)
        span.errors(ng-messages='messageForm.content.$error' ng-show='messageForm.$submitted && messageForm.content.$dirty')
          div(ng-message='required')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.REQUIRED.MESSAGE')
          div(ng-message='maxlength')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.MAXLENGTH.MESSAGE')
