admin-menu-directive

.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-leaf#left-icon
    span {{ 'TITLES.USERS' | translate }}
  .panel-body#with-background
    loading-directive
    nav
      ul.pagination
        li(ng-click='admin_users.clickPaginate(number)' ng-repeat='number in admin_users.offset_numbers' ng-class='{active: number == admin_users.offset}')
          a {{$index + 1}}
    table.table(ng-show='admin_users.users')
      tr
        th
        th ID
        th
        th
        th
        th(translate='COLUMNS.NICKNAME')
        th(translate='COLUMNS.EMAIL')
        th(translate='COLUMNS.LAST_LOGIN_TIME')
      tr(ng-repeat='user in admin_users.users')
        td
          span.red.glyphicon.glyphicon-king(ng-show='user.admin')
        td {{ user.id }}
        td
          span.label(ng-class='user.status_label_name') {{ user.status }}
        td
          span.label(ng-class='user.type_label_name') {{ user.type }}
        td
          a(href='' ng-click='admin_users.message(user.id)')
            span.glyphicon.glyphicon-envelope.green(tooltip="{{'TOOLTIPS.MESSAGE' | translate}}")
        td
          span {{ user.nickname }}
        td {{ user.email }}
        td {{ user.last_sign_in_at }}
