$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$link-color: #76891a;
$hr-border: #76891a;
$navbar-default-bg: rgba(#fff, 0);

$navbar-default-link-color: #76891a;
$navbar-default-link-hover-color: #515e12;

$list-group-bg: rgba(#fff, 0.5);
$list-group-border: #76891a;

$panel-bg: rgba(#fff, 0.5);
$panel-body-padding: 20px;
$panel-default-border: #76891a;
$panel-default-text: #515e12;
$panel-default-heading-bg: rgba(#fff, 0.5);
$panel-inner-border: #76891a;
$panel-footer-bg: rgba(#fff, 0.5);

$btn-default-color: #ffffff;
$btn-default-bg: #ac5e9f;
$btn-default-border: #ac5e9f;

$btn-info-color: #ffffff;
$btn-info-bg: #5E7535;
$btn-info-boder: #6f9b1d;

$table-border-color: #a8ae88;
//$table-bg: rgba(#fff, 0.7);

$state-danger-text: #ac5e9f;
$state-danger-bg: rgba(#eedeef, 0.7);
$state-danger-border: #d5aecf;
$state-success-test: #76891a;
$state-success-bg: rgba(#bac48c, 0.7);
$close-color: #ac5e9f;

$nav-tabs-border-color: #76891a;
$nav-tabs-link-hover-border-color: #76891a;
$nav-tabs-active-link-hover-bg: rgba(#fff, 0.5);
$nav-tabs-active-link-hover-border-color: #76891a;
$nav-tabs-active-link-hover-color: #76891a;

$nav-pills-active-link-hover-bg: rgba(#fff, 0.5);
$nav-pills-active-link-hover-color: #76891a;

$tooltip-bg: #76891a;
$tooltip-opacity: .7;

$blockquote-border-color: #76891a;
$blockquote-small-color: #76891a;

body {
  background-image: url('../assets/images/wood.png');

  label {
    font-family: 'Lucida Grande', Meiryo, sans-serif;
    font-size: 12px;
    color: #515e12;
    font-weight: normal;
  }
  .panel-body {
    font-size: 12px;
  }
  .panel-body#with-background {
    background-image: url('../assets/images/filter_pig.gif');
    background-size: 120% auto;
    background-repeat: no-repeat;
  }
  .list-group-item {
    a { 
      color: #ac5e9f;
      font-size: 12px;
    }
    span {
      font-size: 12px;
      padding-right: 7px;
      color: #AC5E9F;
    }
    img {
      width: 24px;
      text-align: right;
    }
  }
  span.errors {
    font-family: 'Lucida Grande', Meiryo, sans-serif;
    color: #ac5e9f;
    div {
      margin-left: 10px;
    }
  }
}

// bower:scss
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

// injector
// endinjector

