.col-md-3
  %menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      %span.glyphicon.glyphicon-leaf
      {{ 'TITLES.EDIT_PASSWORD' | translate }}
    .panel-body#with-background
      .alert.alert-danger{role: 'alert', 'ng-show': 'edit_password.errors'}
        %button.close{'data-dismiss': 'alert', type: 'button', 'ng-click': 'edit_password.clearErrors()'}×
        %ul{'ng-repeat': 'error in edit_password.errors'}
          %li
            {{error}}
      %form{novalidate: true, name: 'editPasswordForm', 'ng-submit': 'edit_password.submit()'}
        .form-group
          %label{for: 'email'}
            {{ 'LABELS.EMAIL' | translate }}
          %input.form-control#email{disabled: true, type: 'email', name: 'email', 'ng-model': 'edit_password.email'}

        .form-group
          %label{for: 'current_password'}
            {{ 'LABELS.CURRENT_PASSWORD' | translate }}
          %input.form-control{type: 'password', name: 'current_password', 'ng-model': 'edit_password.current_password', required: true, 'ng-maxlength': '72', 'ng-minlength': '4'}
          %span.errors{'ng-messages': 'editPasswordForm.current_password.$error', 'ng-show': 'editPasswordForm.$submitted'}
            %div{'ng-message': 'required'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.REQUIRED.CURRENT_PASSWORD' | translate }}
            %div{'ng-message': 'maxlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MAXLENGTH.PASSWORD' | translate }}
            %div{'ng-message': 'minlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MINLENGTH.PASSWORD' | translate }}
 
        .form-group
          %label{for: 'password'}
            {{ 'LABELS.NEW_PASSWORD' | translate }}
          %input.form-control{type: 'password', name: 'password', 'ng-model': 'edit_password.password', required: true, 'ng-maxlength': '72', 'ng-minlength': '4'}
          %span.errors{'ng-messages': 'editPasswordForm.password.$error', 'ng-show': 'editPasswordForm.$submitted'}
            %div{'ng-message': 'required'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.REQUIRED.NEW_PASSWORD' | translate }}
            %div{'ng-message': 'maxlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MAXLENGTH.PASSWORD' | translate }}
            %div{'ng-message': 'minlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MINLENGTH.PASSWORD' | translate }}
 
        .form-group
          %label{for: 'password_confirmation'}
            {{ 'LABELS.NEW_PASSWORD_CONFIRMATION' | translate }}
          %input.form-control{type: 'password', name: 'password_confirmation', 'ng-model': 'edit_password.password_confirmation', required: true, 'ng-maxlength': '72', 'ng-minlength': '4'}
          %span.errors{'ng-messages': 'editPasswordForm.password_confirmation.$error', 'ng-show': 'editPasswordForm.$submitted'}
            %div{'ng-message': 'required'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.REQUIRED.NEW_PASSWORD_CONFIRMATION' | translate }}
            %div{'ng-message': 'maxlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MAXLENGTH.PASSWORD' | translate }}
            %div{'ng-message': 'minlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MINLENGTH.PASSWORD' | translate }}
 
        %button.btn.btn-default{type: 'submit', 'ng-disabled': 'editPasswordForm.$submitted && editPasswordForm.$invalid'}
          {{ 'BUTTONS.UPDATE' | translate }}
      %hr
      %p
        %a{'ui-sref': 'resend_email'}
          {{ 'LINKS.RESEND_EMAIL' | translate }}
