<div class='col-md-3'>
  <menu-directive></menu-directive>
</div>
<div class='col-md-9'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <span class='glyphicon glyphicon-leaf'></span>
      {{ 'TITLES.LOGIN' | translate }}
    </div>
    <div class='panel-body' id='with-background'>
      <div class='alert alert-danger' ng-show='login.errors' role='alert'>
        <button class='close' data-dismiss='alert' ng-click='login.clearErrors()' type='button'>×</button>
        <ul ng-repeat='error in login.errors'>
          <li>
            {{error}}
          </li>
        </ul>
      </div>
      <form name='loginForm' ng-submit='login.submit()' novalidate>
        <div class='form-group'>
          <label for='email'>
            {{ 'LABELS.EMAIL' | translate }}
          </label>
          <input autofocus class='form-control' id='email' name='email' ng-maxlength='100' ng-model='login.email' required type='email'>
          <span class='errors' ng-messages='loginForm.email.$error' ng-show='loginForm.$submitted'>
            <div ng-message='required'>
              <span class='glyphicon glyphicon-alert'></span>
              {{ 'ERRORS.REQUIRED.EMAIL' | translate }}
            </div>
            <div ng-message='email'>
              <span class='glyphicon glyphicon-alert'></span>
              {{ 'ERRORS.EMAIL' | translate }}
            </div>
            <div ng-message='maxlength'>
              <span class='glyphicon glyphicon-alert'></span>
              {{ 'ERRORS.MAXLENGTH.EMAIL' | translate }}
            </div>
          </span>
        </div>
        <div class='form-group'>
          <label for='password'>
            {{ 'LABELS.PASSWORD' | translate }}
          </label>
          <input class='form-control' id='password' name='password' ng-maxlength='72' ng-minlength='4' ng-model='login.password' required type='password'>
          <span class='errors' ng-messages='loginForm.password.$error' ng-show='loginForm.$submitted'>
            <div ng-message='required'>
              <span class='glyphicon glyphicon-alert'></span>
              {{ 'ERRORS.REQUIRED.PASSWORD' | translate }}
            </div>
            <div ng-message='maxlength'>
              <span class='glyphicon glyphicon-alert'></span>
              {{ 'ERRORS.MAXLENGTH.PASSWORD' | translate }}
            </div>
            <div ng-message='minlength'>
              <span class='glyphicon glyphicon-alert'></span>
              {{ 'ERRORS.MINLENGTH.PASSWORD' | translate }}
            </div>
          </span>
        </div>
        <div class='checkbox'>
          <label>
            <input type='checkbox'>
            {{ 'LABELS.REMEMBER_ME' | translate }}
          </label>
        </div>
        <button class='btn btn-default' type='submit'>
          {{ 'BUTTONS.LOGIN' | translate }}
        </button>
      </form>
      <hr>
      <p>
        <a ui-sref='reset_password'>
          {{ 'LINKS.FORGOT_PASSWORD' | translate }}
        </a>
      </p>
      <p>
        <a ui-sref='resend_email'>
          {{ 'LINKS.RESEND_EMAIL' | translate }}
        </a>
      </p>
    </div>
  </div>
</div>
