.col-md-3
  .menu-directive{'menu-data': 'login.menus' }

.col-md-9
  .panel.panel-default
    .panel-heading
      %span.glyphicon.glyphicon-leaf
      {{ 'TITLES.LOGIN' | translate }}
    .panel-body#with-background
      .alert.alert-danger{role: 'alert', 'ng-show': 'login.errors'}
        %button.close{'data-dismiss': 'alert', type: 'button', 'ng-click': 'login.clearErrors()'}×
        %ul{'ng-repeat': 'error in login.errors'}
          %li
            {{error}}
      %form{novalidate: true, name: 'loginForm', 'ng-submit': 'login.submit()'}
        .form-group
          %label{for: 'email'}
            {{ 'LABELS.EMAIL' | translate }}
          %input.form-control#email{type: 'email', autofocus: true, name: 'email', 'ng-model': 'login.email', required: true, 'ng-maxlength': '100'}
          %span.errors{'ng-messages': 'loginForm.email.$error', 'ng-show': 'loginForm.$submitted'}
            %div{'ng-message': 'required'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.REQUIRED.EMAIL' | translate }}
            %div{'ng-message': 'email'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.EMAIL' | translate }}
            %div{'ng-message': 'maxlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MAXLENGTH.EMAIL' | translate }}
        .form-group
          %label{for: 'password'}
            {{ 'LABELS.PASSWORD' | translate }}
          %input.form-control#password{type: 'password', name: 'password', 'ng-model': 'login.password', required: true, 'ng-maxlength': '72', 'ng-minlength': '4'}
          %span.errors{'ng-messages': 'loginForm.password.$error', 'ng-show': 'loginForm.$submitted'}
            %div{'ng-message': 'required'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.REQUIRED.PASSWORD' | translate }}
            %div{'ng-message': 'maxlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MAXLENGTH.PASSWORD' | translate }}
            %div{'ng-message': 'minlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MINLENGTH.PASSWORD' | translate }}
        .checkbox
          %label
            %input{type: 'checkbox'}
            {{ 'LABELS.REMEMBER_ME' | translate }}
        %button.btn.btn-default{type: 'submit'}
          {{ 'BUTTONS.LOGIN' | translate }}
      %hr
      %p
        %a{'ui-sref': 'reset_password'}
          {{ 'LINKS.FORGOT_PASSWORD' | translate }}
      %p
        %a{'ui-sref': 'resend_email'}
          {{ 'LINKS.RESEND_EMAIL' | translate }}
