.col-md-2
  .menu-directive

.col-md-6
  .panel.panel-default
    .panel-heading
      %span.glyphicon.glyphicon-leaf
      ログイン
    .panel-body#with-background
      %form
        .form-group
          %label{for: 'email'}
            メールアドレス
          %input.form-control#email{type: 'email', autofocus: true, required: true}
        .form-group
          %label{for: 'password'}
            パスワード
          %input.form-control#password{type: 'password', required: true}
        .checkbox
          %label
            %input{type: 'checkbox'}
            パスワードを記憶する
        %button.btn.btn-default{type: 'submit'}
          ログインする
      %hr
      %p
        %a{'ui-sref': 'login'}
          パスワードを忘れた場合
      %p
        %a{'ui-sref': 'login'}
          確認メールが見つからない場合
