.col-md-3
  %menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      %span.glyphicon.glyphicon-leaf
      {{ 'TITLES.RESEND_EMAIL' | translate }}
    .panel-body#with-background
      %form{novalidate: true, name: 'resendEmailForm', 'ng-submit': 'resend_email.submit()'}
        .form-group
          %label{for: 'email'}
            {{ 'LABELS.EMAIL' | translate }}
          %input.form-control#email{type: 'email', autofocus: true, name: 'email', 'ng-model': 'resend_email.email', required: true, 'ng-maxlength': '100'}
        %button.btn.btn-default{type: 'submit', 'ng-disabled': 'resendEmailForm.$submitted && resendEmailForm.$invalid'}
          {{ 'BUTTONS.SEND' | translate }}
      %hr
      %p
        %a{'ui-sref': 'reset_password'}
          {{ 'LINKS.FORGOT_PASSWORD' | translate }}
