.col-md-3
  %menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      %span.glyphicon.glyphicon-leaf
      {{ 'TITLES.RESET_PASSWORD' | translate }}
    .panel-body#with-background
      .alert.alert-danger{role: 'alert', 'ng-show': 'reset_password.errors'}
        %button.close{'data-dismiss': 'alert', type: 'button', 'ng-click': 'reset_password.clearErrors()'}×
        %ul{'ng-repeat': 'error in reset_password.errors'}
          %li
            {{error}}
      %form{novalidate: true, name: 'resetPasswordForm', 'ng-submit': 'reset_password.submit()'}
        .form-group
          %label{for: 'email'}
            {{ 'LABELS.EMAIL' | translate }}
          %input.form-control#email{type: 'email', autofocus: true, name: 'email', 'ng-model': 'reset_password.email', required: true, 'ng-maxlength': '100'}
          %span.errors{'ng-messages': 'resetPasswordForm.email.$error', 'ng-show': 'resetPasswordForm.$submitted'}
            %div{'ng-message': 'required'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.REQUIRED.EMAIL' | translate }}
            %div{'ng-message': 'email'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.EMAIL' | translate }}
            %div{'ng-message': 'maxlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MAXLENGTH.EMAIL' | translate }}
 
        %button.btn.btn-primary{type: 'submit', 'ng-disabled': 'resetPasswordForm.$submitted && resetPasswordForm.$invalid'}
          {{ 'BUTTONS.SEND' | translate }}
      %hr
      %p
        %a{'ui-sref': 'resend_email'}
          {{ 'LINKS.RESEND_EMAIL' | translate }}
