.col-md-3
  .menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      %span.glyphicon.glyphicon-leaf
      {{ 'TITLES.RESET_PASSWORD' | translate }}
    .panel-body#with-background
      %form
        .form-group
          %label{for: 'email'}
            {{ 'LABELS.EMAIL' | translate }}
          %input.form-control#email{type: 'email', autofocus: true, required: true}
        %button.btn.btn-default{type: 'submit'}
          {{ 'BUTTONS.SEND' | translate }}
      %hr
      %p
        %a{'ui-sref': 'login'}
          {{ 'LINKS.FORGOT_PASSWORD' | translate }}
      %p
        %a{'ui-sref': 'login'}
          {{ 'LINKS.RESEND_EMAIL' | translate }}
