.col-md-3
  %menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      %span.glyphicon.glyphicon-leaf
      {{ 'TITLES.SIGN_UP' | translate }}
    .panel-body#with-background
      .alert.alert-danger{role: 'alert', 'ng-show': 'sign_up.errors'}
        %button.close{'data-dismiss': 'alert', type: 'button', 'ng-click': 'sign_up.clearErrors()'}×
        %ul{'ng-repeat': 'error in sign_up.errors'}
          %li
            {{error}}
      %form{novalidate: true, name: 'signUpForm', 'ng-submit': 'sign_up.submit()'}
        .form-group
          %label{for: 'email'}
            {{ 'LABELS.EMAIL' | translate }}
          %input.form-control#email{type: 'email', autofocus: true, name: 'email', 'ng-model': 'sign_up.email', required: true, 'ng-maxlength': '100'}
          %span.errors{'ng-messages': 'signUpForm.email.$error', 'ng-show': 'signUpForm.$submitted'}
            %div{'ng-message': 'required'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.REQUIRED.EMAIL' | translate }}
            %div{'ng-message': 'email'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.EMAIL' | translate }}
            %div{'ng-message': 'maxlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MAXLENGTH.EMAIL' | translate }}
        .form-group
          %label{for: 'password'}
            {{ 'LABELS.PASSWORD' | translate }}
          %input.form-control#password{type: 'password', name: 'password', 'ng-model': 'sign_up.password', required: true, 'ng-maxlength': '72', 'ng-minlength': '4'}
          %span.errors{'ng-messages': 'signUpForm.password.$error', 'ng-show': 'signUpForm.$submitted'}
            %div{'ng-message': 'required'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.REQUIRED.PASSWORD' | translate }}
            %div{'ng-message': 'maxlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MAXLENGTH.PASSWORD' | translate }}
            %div{'ng-message': 'minlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MINLENGTH.PASSWORD' | translate }}
        .form-group
          %label{for: 'password_confirmation'}
            {{ 'LABELS.PASSWORD_CONFIRMATION' | translate }}
          %input.form-control#password_confirmation{type: 'password', name: 'password_confirmation', 'ng-model': 'sign_up.password_confirmation', required: true, 'ng-maxlength': '72', 'ng-minlength': '4'}
          %span.errors{'ng-messages': 'signUpForm.password_confirmation.$error', 'ng-show': 'signUpForm.$submitted'}
            %div{'ng-message': 'required'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.REQUIRED.PASSWORD' | translate }}
            %div{'ng-message': 'maxlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MAXLENGTH.PASSWORD' | translate }}
            %div{'ng-message': 'minlength'}
              %span.glyphicon.glyphicon-alert
              {{ 'ERRORS.MINLENGTH.PASSWORD' | translate }}
        %button.btn.btn-default{type: 'submit', 'ng-disabled': 'signUpForm.$submitted && signUpForm.$invalid'}
          {{ 'BUTTONS.SIGN_UP' | translate }}
      %hr
      %p
        %a{'ui-sref': 'reset_password'}
          {{ 'LINKS.FORGOT_PASSWORD' | translate }}
      %p
        %a{'ui-sref': 'resend_email'}
          {{ 'LINKS.RESEND_EMAIL' | translate }}
