div#fb-root

div.fb-like(data-href="http://account-book-pig.herokuapp.com"
            data-layout="button_count"
            data-action="like"
            data-show-faces="true"
            data-share="true")
