div#fb-root
script
  (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.5&appId=234695076873185";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

div.fb-like(data-href='http://localhost:3000/'
            data-layout="button_count"
            data-action="like"
            data-show-faces="true"
            data-share="true")
