span
  a.twitter-share-button(href='https://twitter.com/share'
                         data-via='pig_book'
                         data-text="[{{'BRAND_NAME' | translate}}] {{twitter.title}}")
  script(src='//platform.twitter.com/widgets.js')
