span
  a.twitter-share-button(href='https://twitter.com/share' data-via='kae_kasui' data-url='{{vm.current_url}}' data-text='{{twitter.title}}')
    | Tweet
  script(src='//platform.twitter.com/widgets.js')
hr
