ul.list-group
  li.list-group-item(ng-mouseenter='menu.mouseEnter(1)' ng-mouseleave='menu.mouseLeave()')
    a(ui-sref='mypage')
      span.glyphicon(class='glyphicon-piggy-bank')
      span(translate='TITLES.MYPAGE_TOP')
    span(ng-show='menu.isSelected(1)')
      img.pull-right(ng-src='{{menu.menu_image}}')
  li.list-group-item(ng-mouseenter='menu.mouseEnter(2)' ng-mouseleave='menu.mouseLeave()')
    a(ui-sref='profile')
      span.glyphicon(class='glyphicon-user')
      span(translate='TITLES.PROFILE')
    span(ng-show='menu.isSelected(2)')
      img.pull-right(ng-src='{{menu.menu_image}}')
