.col-md-3
  user-menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      span.glyphicon.glyphicon-envelope#left-icon
      span {{ message.message.content | truncate:true:15 }}
      span.pull-right {{ message.message.created_at | date:'yyyy-MM-dd HH:mm:ss' }}
    .panel-body
      loading-directive
      div(marked='message.message.content')
