.col-md-3
  user-menu-directive

.col-md-9
  // お知らせ
  .col-md-6
    .panel.panel-default
      .panel-heading
        span.glyphicon.glyphicon-film#left-icon
        span(translate='TITLES.NOTICE_LIST')
      .panel-body
        loading-directive(target='notice')
        ul.list
          li(ng-repeat='notice in mypage.notices | limitTo:5')
            span#post_at {{ notice.post_at }}
            a(ui-sref='notice({id: notice.id})') {{ notice.title }}
  // メッセージ
  .col-md-6
    .panel.panel-default
      .panel-heading
        span.glyphicon.glyphicon-envelope#left-icon
        span(translate='TITLES.MESSAGE_LIST')
      .panel-body
        loading-directive(target='message')
        ul.list
          li(ng-show='mypage.messages.length == 0')
            span#post_at メッセージはありません
          li(ng-repeat='message in mypage.messages | limitTo:5')
            span#post_at {{ message.created_at | date:'yyyy-MM-dd' }}
            a(ui-sref='message({id: message.id})') {{ message.content | truncate:true:20 }}
