.col-md-3
  user-menu-directive

.col-md-9
  .col-md-12
    // 最近の入力
    .panel.panel-default
      .panel-heading
        span.glyphicon.glyphicon-list#left-icon
        span(translate='TITLES.RECENTLY_RECORDS_LIST')
      .panel-body
        loading-directive
        span(ng-show='mypage.records.length == 0')
          span(translate='MESSAGES.THERE_IS_NO_RECORD')
          a(ui-sref='new_record')
            span.red.glyphicon.glyphicon-piggy-bank
            span.red(translate='TITLES.NEW_RECORD')
          span(translate='MESSAGES.THERE_IS_NO_RECORD2')
        table.table.table-condensed(ng-show='mypage.records.length >= 1')
          tr(ng-repeat='record in mypage.records | limitTo:5')
            td {{ record.published_at }}
            td
              label.label.label-warning {{ record.category_name }}
            td
              label.label.label-info {{ record.breakdown_name }}
            td
              label.label.label-primary {{ record.place_name }}
            td {{ mypage.user.currency }} {{ record.charge | currency:'':0 }}
            td
              a(href='' ng-click='mypage.showRecord($index)')
                span.glyphicon.glyphicon-info-sign.green(tooltip="{{'TOOLTIPS.DETAIL' | translate}}")
            td
              a(href='' ng-click='mypage.destroyRecord($index)')
                span.glyphicon.glyphicon-trash.green(tooltip="{{'TOOLTIPS.DELETE' | translate}}")

  // お知らせ
  .col-md-6
    .panel.panel-default
      .panel-heading
        span.glyphicon.glyphicon-film#left-icon
        span(translate='TITLES.NOTICE_LIST')
      .panel-body
        loading-directive
        ul.list
          li(ng-show='mypage.notices.length == 0')
            span#post_at(translate='MESSAGES.NOT_FOUND_NOTICE')
          li(ng-repeat='notice in mypage.notices | limitTo:5')
            span#post_at {{ notice.post_at }}
            a(ui-sref='notice({id: notice.id})') {{ notice.title }}
  // メッセージ
  .col-md-6
    .panel.panel-default
      .panel-heading
        span.glyphicon.glyphicon-envelope#left-icon
        span(translate='TITLES.MESSAGE_LIST')
      .panel-body
        loading-directive
        ul.list
          li(ng-show='mypage.messages.length == 0')
            span#post_at(translate='MESSAGES.NOT_FOUND_MESSAGE')
          li(ng-repeat='message in mypage.messages | limitTo:5')
            span#post_at {{ message.created_at | date:'yyyy-MM-dd' }}
            a(ui-sref='message({id: message.id})' ng-style="{'font-weight': message.read ? 'normal' : 'bold'}") {{ message.content | truncate:true:15 }}
