.col-md-3
  user-menu-directive

.col-md-9
  .col-md-6
    .panel.panel-default
      .panel-heading
        span.glyphicon.glyphicon-film#left-icon
        span(translate='TITLES.NOTICE_LIST')
      .panel-body
        loading-directive
        ul.list
          li(ng-repeat='notice in mypage.notices | limitTo:5')
            span#post_at {{ notice.post_at }}
            a(ui-sref='notice({id: notice.id})') {{ notice.title }}
  .col-md-6
    .panel.panel-default
      .panel-heading
        span.glyphicon.glyphicon-envelope#left-icon
        span(translate='TITLES.MESSAGE_LIST')
      .panel-body
        loading-directive
