.col-md-3(ng-show='notice.current_user')
  user-menu-directive

div(ng-class="{'col-md-9': notice.current_user, 'col-md-12': !notice.current_user}")
  .panel.panel-default
    .panel-heading
      span.glyphicon.glyphicon-film#left-icon
      span {{ notice.notice.title }}
      span.pull-right {{ notice.notice.post_at }}
    .panel-body
      loading-directive
      .sns-buttons
        span
          tweet-button-directive(title='{{notice.notice.title}}')
        span
          div(fb-like=true)
          //like-button-directive
          //div(fb-like='notice.current_url')
      div(marked='notice.notice.content')
