.col-md-3
  user-menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      span.glyphicon.glyphicon-leaf#left-icon
      span(translate='TITLES.PROFILE')
    .panel-body#with-background
      loading-directive
      blockquote(ng-show="profile.current_user.type == 'EmailUser'")
        footer(translate='LABELS.EMAIL_LOGIN')
      .form.form-horizontal(ng-show='profile.current_user')
        .form-group(ng-show='profile.current_user.email')
          .col-sm-2(translate='LABELS.EMAIL')
          .col-sm-10 {{ profile.current_user.email }}
        .form-group
          .col-sm-2(translate='LABELS.NICKNAME')
          .col-sm-10
            form(novalidate=true name='nicknameForm')
              input.form-control#new_nickname(ng-if='profile.nickname_edit_field' ng-value='profile.current_user.nickname' ng-model='profile.new_nickname' auto-focus=true type='text' ng-keydown='profile.updateNickname($event)' name='new_nickname' ng-maxlength='100')
              span.errors(ng-show='nicknameForm.new_nickname.$error.maxlength')
                span.glyphicon.glyphicon-alert
                span(translate='ERRORS.MAXLENGTH.EMAIL')
            span(ng-show='!profile.nickname_edit_field') {{ profile.current_user.nickname || ('LABELS.NO_SETTINGS' | translate) }}
            button.btn.btn-default(translate='BUTTONS.EDIT' ng-show='!profile.nickname_edit_field' ng-click='profile.nickname_edit_field = true')
