.daily-graph
  p
    span.glyphicon.glyphicon-blackboard.green#left-icon
    span.green {{ bars.month + 1 }} {{ 'GRAPH.MONTHLY_PAYMENTS' | translate }}
    span.pull-right {{ 'GRAPH.UPDATED_TIME' | translate }}: {{ bars.updated_at }}
