| {{ dashboard.daily_data }}
bars-chart-directive(year='dashboard.target_year' month='dashboard.target_month')
.daily-graph
  p
    span.glyphicon.glyphicon-blackboard.green#left-icon
    span.green {{ dashboard.target_month + 1 }} {{ 'GRAPH.MONTHLY_PAYMENTS' | translate }}
