.tag-template
  span.glyphicon.glyphicon-bookmark#left-icon(ng-if='data.color_code' ng-style="{color:data.color_code}")
  span.ng-binding.ng-scope {{ data.name }}
  a.remove-button.ng-binding.ng-scope(ng-click='$removeTag()') ×
