.modal-body
  p(translate='MESSAGES.CONFIRM_TO_SEND_MAIL')
  button.btn.btn-success(type='submit' translate='BUTTONS.YES' ng-click='send_mail.ok()')
  a.btn.btn-default(ng-click='send_mail.cancel()' translate='BUTTONS.CLOSE')
