.col-md-3
  account-menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      span.glyphicon.glyphicon-leaf#left-icon
      span(translate='TITLES.EDIT_PASSWORD')
    .panel-body#with-background
      error-messages-directive(errors='edit_password.errors')
      form(novalidate=true name='editPasswordForm' ng-submit='edit_password.submit()')
        .form-group
          label(for='email')
            span(translate='LABELS.EMAIL')
          input.form-control#email(disabled=true type='email' name='email' ng-model='edit_password.email')

        .form-group
          label(for='password')
            span(translate='LABELS.NEW_PASSWORD')
          input.form-control(type='password' name='password' ng-model='edit_password.password' required=true ng-maxlength='72' ng-minlength='4')
          span.errors(ng-messages='editPasswordForm.password.$error' ng-show='editPasswordForm.$submitted')
            div(ng-message='required')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.REQUIRED.NEW_PASSWORD')
            div(ng-message='maxlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MAXLENGTH.PASSWORD')
            div(ng-message='minlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MINLENGTH.PASSWORD')
 
        .form-group
          label(for='password_confirmation')
            span(translate='LABELS.NEW_PASSWORD_CONFIRMATION')
          input.form-control(type='password' name='password_confirmation' ng-model='edit_password.password_confirmation' required=true ng-maxlength='72' ng-minlength='4')
          span.errors(ng-messages='editPasswordForm.password_confirmation.$error' ng-show='editPasswordForm.$submitted')
            div(ng-message='required')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.REQUIRED.NEW_PASSWORD_CONFIRMATION')
            div(ng-message='maxlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MAXLENGTH.PASSWORD')
            div(ng-message='minlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MINLENGTH.PASSWORD')

        // ボタン
        submit-button-directive(form='editPasswordForm')
          span(translate='BUTTONS.UPDATE')
      hr
      p
        a(ui-sref='resend_email')
          span(translate='LINKS.RESEND_EMAIL')
