.col-md-3
  account-menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      span.glyphicon.glyphicon-leaf
      span(translate='TITLES.LOGIN')
    .panel-body#with-background
      .alert.alert-danger(role='alert' ng-show='login.errors')
        button.close(data-dismiss='alert' type='button' ng-click='login.clearErrors()') ×
        ul(ng-repeat='error in login.errors')
          li {{error}}
      form(novalidate=true name='loginForm' ng-submit='login.submit()')
        .form-group
          label(for='email')
          span(translate='LABELS.EMAIL')
          span *
          input.form-control#email(type='email' autofocus=true name='email' ng-model='login.email' required=true ng-maxlength='100')
          span.errors(ng-messages='loginForm.email.$error' ng-show='loginForm.$submitted')
            div(ng-message='required')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.REQUIRED.EMAIL')
            div(ng-message='email')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.EMAIL')
            div(ng-message='maxlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MAXLENGTH.EMAIL')
        .form-group
          label(for='password')
            span(translate='LABELS.PASSWORD')
            span *
          input.form-control#password(type='password' name='password' ng-model='login.password' required=true ng-maxlength='72' ng-minlength='4')
          span.errors(ng-messages='loginForm.password.$error' ng-show='loginForm.$submitted')
            div(ng-message='required')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.REQUIRED.PASSWORD')
            div(ng-message='maxlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MAXLENGTH.PASSWORD')
            div(ng-message='minlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MINLENGTH.PASSWORD')
        button.btn.btn-primary(type='submit' ng-disabled='loginForm.$submitted && loginForm.$invalid')
          span(translate='BUTTONS.LOGIN')
      hr
      p
        a(ui-sref='reset_password')
          span(translate='LINKS.FORGOT_PASSWORD')
      p
        a(ui-sref='resend_email')
          span(translate='LINKS.RESEND_EMAIL')
