ul.list-group
  // ログイン
  li.list-group-item(ng-mouseenter='menu.mouseEnter(1)' ng-mouseleave='menu.mouseLeave()')
    a(ui-sref='login' ng-click="menu.activate = 'login'")
      span.glyphicon(class='glyphicon-leaf')
      span(translate='TITLES.LOGIN')
    span(ng-show="menu.isSelected(1) && menu.activate != 'login'")
      img.pull-right(ng-src='{{menu.menu_image}}')
    span(ng-show="menu.activate == 'login'")
      img.pull-right(ng-src='{{menu.active_menu_image}}')
  // 新規登録
  li.list-group-item(ng-mouseenter='menu.mouseEnter(2)' ng-mouseleave='menu.mouseLeave()')
    a(ui-sref='sign_up' ng-click="menu.activate = 'sign_up'")
      span.glyphicon(class='glyphicon-heart')
      span(translate='TITLES.SIGN_UP')
    span(ng-show="menu.isSelected(2) && menu.activate != 'sign_up'")
      img.pull-right(ng-src='{{menu.menu_image}}')
    span(ng-show="menu.activate == 'sign_up'")
      img.pull-right(ng-src='{{menu.active_menu_image}}')
  // パスワード再設定
  li.list-group-item(ng-mouseenter='menu.mouseEnter(3)' ng-mouseleave='menu.mouseLeave()')
    a(ui-sref='reset_password')
      span.glyphicon(class='glyphicon-leaf')
      span(translate='TITLES.RESET_PASSWORD')
    span(ng-show='menu.isSelected(3)')
      img.pull-right(ng-src='{{menu.menu_image}}')
  // 確認メール再送信
  li.list-group-item(ng-mouseenter='menu.mouseEnter(4)' ng-mouseleave='menu.mouseLeave()')
    a(ui-sref='resend_email')
      span.glyphicon(class='glyphicon-heart')
      span(translate='TITLES.RESEND_EMAIL')
    span(ng-show='menu.isSelected(4)')
      img.pull-right(ng-src="{{menu.menu_image}}")
