<div class='col-md-3'>
  <account-menu-directive></account-menu-directive>
</div>
<div class='col-md-9'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <span class='glyphicon glyphicon-leaf'></span>
      <span translate='TITLES.RESET_PASSWORD'></span>
    </div>
    <div class='panel-body' id='with-background'>
      <div class='alert alert-danger' ng-show='reset_password.errors' role='alert'>
        <button class='close' data-dismiss='alert' ng-click='reset_password.clearErrors()' type='button'>×</button>
        <ul ng-repeat='error in reset_password.errors'>
          <li>{{error}}</li>
        </ul>
      </div>
      <form name='resetPasswordForm' ng-submit='reset_password.submit()' novalidate>
        <div class='form-group'>
          <label for='email'>
            <span translate='LABELS.EMAIL'></span>
            <span>*</span>
          </label>
          <input autofocus class='form-control' id='email' name='email' ng-maxlength='100' ng-model='reset_password.email' required type='email'>
          <span class='errors' ng-messages='resetPasswordForm.email.$error' ng-show='resetPasswordForm.$submitted'>
            <div ng-message='required'>
              <span class='glyphicon glyphicon-alert'></span>
              <span translate='ERRORS.REQUIRED.EMAIL'></span>
            </div>
            <div ng-message='email'>
              <span class='glyphicon glyphicon-alert'></span>
              <span translate='ERRORS.EMAIL'></span>
            </div>
            <div ng-message='maxlength'>
              <span class='glyphicon glyphicon-alert'></span>
              <span translate='ERRORS.MAXLENGTH.EMAIL'></span>
            </div>
          </span>
        </div>
        <button class='btn btn-primary' ng-disabled='resetPasswordForm.$submitted &amp;&amp; resetPasswordForm.$invalid' type='submit'>
          <span translate='BUTTONS.SEND'></span>
        </button>
      </form>
      <hr>
      <p>
        <a ui-sref='resend_email'>
          <span translate='LINKS.RESEND_EMAIL'></span>
        </a>
      </p>
    </div>
  </div>
</div>
