.col-md-3
  account-menu-directive

.col-md-9
  .panel.panel-default
    .panel-heading
      span.glyphicon.glyphicon-leaf
      span(translate='TITLES.RESET_PASSWORD')
    .panel-body#with-background
      .alert.alert-danger(role='alert' ng-show='reset_password.errors')
        button.close(data-dismiss='alert' type='button' ng-click='reset_password.clearErrors()') ×
        ul(ng-repeat='error in reset_password.errors')
          li {{error}}
      form(novalidate=true name='resetPasswordForm' ng-submit='reset_password.submit()')
        .form-group
          label(for='email')
            span(translate='LABELS.EMAIL')
            span *
          input.form-control#email(type='email' autofocus=true name='email' ng-model='reset_password.email' required=true ng-maxlength='100')
          span.errors(ng-messages='resetPasswordForm.email.$error' ng-show='resetPasswordForm.$submitted')
            div(ng-message='required')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.REQUIRED.EMAIL')
            div(ng-message='email')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.EMAIL')
            div(ng-message='maxlength')
              span.glyphicon.glyphicon-alert#left-icon
              span(translate='ERRORS.MAXLENGTH.EMAIL')
 
        button.btn.btn-success(type='submit' ng-disabled='(resetPasswordForm.$submitted && resetPasswordForm.$invalid) || reset_password.sending')
          span(translate='BUTTONS.SEND')
      hr
      p
        a(ui-sref='resend_email')
          span(translate='LINKS.RESEND_EMAIL')
