%nav.navbar.navbar-default(role='navigation')
  .navbar-header
    %a.navbar-brand{'ui-sref': 'home'}
      %img{src: 'assets/images/pig.gif'}
      %span.brand-name
        {{ 'BRAND_NAME' | translate }}
      %span.glyphicon.glyphicon-paperclip
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li
        %a{'ui-sref': 'home'}
          %span.glyphicon.glyphicon-home
          {{ 'TITLES.HOME' | translate }}
      %li
        %a
          %span.glyphicon.glyphicon-stats
          {{ 'TITLES.DASHBOARD' | translate }}
      %li
        %a{'ng-click': 'vm.feedback()'}
          %span.glyphicon.glyphicon-comment
          {{ 'TITLES.FEEDBACK' | translate }}
    %ul.nav.navbar-nav.navbar-right
      %li{'ng-show': 'vm.login_status && vm.current_user.admin'}
        %a{'ui-sref': 'admin'}
          %span.glyphicon.glyphicon-king
          {{ 'TITLES.ADMIN' | translate }}
      %li.dropdown
        %a.dropdown-toggle{'data-toggle': 'dropdown', 'role': 'button', 'aria-haspopup': true, 'aria-expended': false, 'href': '#'}
          %span.glyphicon.glyphicon-cog
          {{ 'TITLES.SETTINGS' | translate }}
          %span.caret
        %ul.dropdown-menu
          %li
            %span.glyphicon.glyphicon-tag
            カテゴリ
      %li{'ng-hide': 'vm.login_status'}
        %a{'ui-sref': 'login'}
          %span.glyphicon.glyphicon-leaf
          {{ 'TITLES.LOGIN' | translate }}
      %li{'ng-show': 'vm.login_status'}
        %a{'ui-sref': 'mypage'}
          %span.glyphicon.glyphicon-user
          {{ vm.current_user.email }}
      %li{'ng-show': 'vm.login_status'}
        %a{'ui-sref': 'home', 'ng-click': 'vm.logout()'}
          %span.glyphicon.glyphicon-leaf
          {{ 'TITLES.LOGOUT' | translate }}

%script#feedback{type: 'text/ng-template'}
  %form{novalidate: true, name: 'feedbackForm'}
    .modal-body
      .pull-right
        %button.btn.btn-default{type: 'submit', 'ng-disabled': 'feedbackForm.$submitted && feedbackForm.$invalid', 'ng-click': 'feedback.submit()'}
          {{ 'BUTTONS.SEND' | translate }}
        %button.btn.btn-info{'ng-click': 'feedback.cancel()'}
          {{ 'BUTTONS.CLOSE' | translate }}
      %br
      .form-group{'ng-if': '!feedback.login_status'}
        %label{for: 'email'}
          {{ 'LABELS.FEEDBACK_EMAIL' | translate }}
        %input.form-control#email{type: 'email', name: 'email', 'ng-model': 'feedback.email', required: true, 'ng-maxlength': '100'}
        %span.errors{'ng-messages': 'feedbackForm.email.$error', 'ng-show': 'feedbackForm.$submitted && feedback.send'}
          %div{'ng-message': 'required'}
            %span.glyphicon.glyphicon-alert
            {{ 'ERRORS.REQUIRED.EMAIL' | translate }}
          %div{'ng-message': 'email'}
            %span.glyphicon.glyphicon-alert
            {{ 'ERRORS.EMAIL' | translate }}
          %div{'ng-message': 'maxlength'}
            %span.glyphicon.glyphicon-alert
            {{ 'ERRORS.MAXLENGTH.EMAIL' | translate }}

      .form-group
        %textarea.form-control{rows: '5', name: 'content', 'ng-model': 'feedback.content', required: true, 'ng-maxlength': '1000'}
        %span.errors{'ng-messages': 'feedbackForm.content.$error', 'ng-show': 'feedbackForm.$submitted && feedback.send'}
          %div{'ng-message': 'required'}
            %span.glyphicon.glyphicon-alert
            {{ 'ERRORS.REQUIRED.CONTENT' | translate }}
          %div{'ng-message': 'maxlength'}
            %span.glyphicon.glyphicon-alert
            {{ 'ERRORS.MAXLENGTH.CONTENT' | translate }}
