<nav class='navbar navbar-default' role='navigation'>
  <div class='navbar-header'>
    <a class='navbar-brand' ui-sref='home'>
      <img src='assets/images/pig.gif'>
      <span class='brand-name'>
        {{ 'BRAND_NAME' | translate }}
      </span>
      <span class='glyphicon glyphicon-paperclip'></span>
    </a>
  </div>
  <div class='collapse navbar-collapse'>
    <ul class='nav navbar-nav'>
      <li>
        <a ui-sref='home'>
          <span class='glyphicon glyphicon-home'></span>
          {{ 'TITLES.HOME' | translate }}
        </a>
      </li>
      <li>
        <a>
          <span class='glyphicon glyphicon-stats'></span>
          {{ 'TITLES.DASHBOARD' | translate }}
        </a>
      </li>
      <li>
        <a ng-click='vm.feedback()'>
          <span class='glyphicon glyphicon-comment'></span>
          {{ 'TITLES.FEEDBACK' | translate }}
        </a>
      </li>
    </ul>
    <ul class='nav navbar-nav navbar-right'>
      <li ng-show='vm.login_status &amp;&amp; vm.current_user.admin'>
        <a ui-sref='admin'>
          <span class='glyphicon glyphicon-king'></span>
          {{ 'TITLES.ADMIN' | translate }}
        </a>
      </li>
      <li class='dropdown'>
        <a aria-haspopup class='dropdown-toggle' data-toggle='dropdown' href='#' role='button'>
          <span class='glyphicon glyphicon-cog'></span>
          {{ 'TITLES.SETTINGS' | translate }}
          <span class='caret'></span>
        </a>
        <ul class='dropdown-menu'>
          <li>
            <span class='glyphicon glyphicon-tag'></span>
            カテゴリ
          </li>
        </ul>
      </li>
      <li ng-hide='vm.login_status'>
        <a ui-sref='login'>
          <span class='glyphicon glyphicon-leaf'></span>
          {{ 'TITLES.LOGIN' | translate }}
        </a>
      </li>
      <li ng-show='vm.login_status'>
        <a ui-sref='mypage'>
          <span class='glyphicon glyphicon-user'></span>
          {{ vm.current_user.email }}
        </a>
      </li>
      <li ng-show='vm.login_status'>
        <a ng-click='vm.logout()' ui-sref='home'>
          <span class='glyphicon glyphicon-leaf'></span>
          {{ 'TITLES.LOGOUT' | translate }}
        </a>
      </li>
    </ul>
  </div>
</nav>
<script id='feedback' type='text/ng-template'>
  <div class='modal-body'>
    <form name='feedbackForm' ng-submit='feedback.submit()' novalidate>
      <div class='form-group' ng-if='!feedback.login_status'>
        <label for='email'>
          {{ 'LABELS.FEEDBACK_EMAIL' | translate }}
        </label>
        <input class='form-control' id='email' name='email' ng-maxlength='100' ng-model='feedback.email' required type='email'>
        <span class='errors' ng-messages='feedbackForm.email.$error' ng-show='feedbackForm.$submitted'>
          <div ng-message='required'>
            <span class='glyphicon glyphicon-alert'></span>
            {{ 'ERRORS.REQUIRED.EMAIL' | translate }}
          </div>
          <div ng-message='email'>
            <span class='glyphicon glyphicon-alert'></span>
            {{ 'ERRORS.EMAIL' | translate }}
          </div>
          <div ng-message='maxlength'>
            <span class='glyphicon glyphicon-alert'></span>
            {{ 'ERRORS.MAXLENGTH.EMAIL' | translate }}
          </div>
        </span>
      </div>
      <div class='form-group'>
        <textarea class='form-control' name='content' ng-maxlength='1000' ng-model='feedback.content' required rows='5'></textarea>
        <span class='errors' ng-messages='feedbackForm.content.$error' ng-show='feedbackForm.$submitted'>
          <div ng-message='required'>
            <span class='glyphicon glyphicon-alert'></span>
            {{ 'ERRORS.REQUIRED.CONTENT' | translate }}
          </div>
          <div ng-message='maxlength'>
            <span class='glyphicon glyphicon-alert'></span>
            {{ 'ERRORS.MAXLENGTH.CONTENT' | translate }}
          </div>
        </span>
      </div>
      <button class='btn btn-default' ng-disabled='feedbackForm.$submitted &amp;&amp; feedbackForm.$invalid' type='submit'>
        {{ 'BUTTONS.SEND' | translate }}
      </button>
    </form>
  </div>
</script>
