.navbar-default .navbar-brand {
  width: 300px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Lucida Grande', Meiryo, sans-serif;
  //a img { padding-right: 7px; }
  img {
    width: 60px;
    float: left;
  }
  span { padding: 3px; }
  span.brand-name {
    border-bottom: dotted 3px #76891a;
    vertical-align: middle;
  }
  span.glyphicon { padding-top: 6px; }
  padding: 10px 10px 10px 40px;
}

.nav.nav-tabs li.active {
  background-color: transparent;
}
.nav.nav-pills li.active {
  background-color: transparent;
  margin-bottom: 4px;
  a { border: 1px solid #76891a; }
}
.nav.nav-tabs li a:hover, .nav.nav-pills li a:hover {
  background-color: rgba(#fff, 0.5);
}
