.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-map-marker#left-icon
    span(translate='TITLES.BASE_SETTING')

  .panel-body#with-background
    blockquote
      span {{ 'SETTINGS.DISPLAY' | translate }}
    .checkbox
      p(translate='MESSAGES.DISPLAY_ITEMS')
      label.checkbox-inline
        input(type='checkbox' ng-model='new_record.breakdown_field' ng-change='new_record.checkSetting()')
        span {{ 'COLUMNS.BREAKDOWN' | translate }}
      label.checkbox-inline
        input(type='checkbox' ng-model='new_record.place_field' ng-change='new_record.checkSetting()')
        span {{ 'COLUMNS.PLACE' | translate }}
      label.checkbox-inline
        input(type='checkbox' ng-model='new_record.memo_field' ng-change='new_record.checkSetting()')
        span {{ 'COLUMNS.MEMO' | translate }}
 
