.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-map-marker#left-icon
    span(translate='TITLES.BASE_SETTING')

  .panel-body#with-background
    loading-directive

    // 各項目の表示設定
    blockquote
      span {{ 'SETTINGS.DISPLAY' | translate }}
    p(translate='MESSAGES.DISPLAY_ITEMS')
    .checkbox
      label.checkbox-inline
        input(type='checkbox' ng-model='base_settings.breakdown_field' ng-change='base_settings.changeSetting()')
        span {{ 'COLUMNS.BREAKDOWN' | translate }}
      label.checkbox-inline
        input(type='checkbox' ng-model='base_settings.place_field' ng-change='base_settings.changeSetting()')
        span {{ 'COLUMNS.PLACE' | translate }}
      label.checkbox-inline
        input(type='checkbox' ng-model='base_settings.tag_field' ng-change='base_settings.changeSetting()')
        span {{ 'COLUMNS.TAG' | translate }}
      label.checkbox-inline
        input(type='checkbox' ng-model='base_settings.memo_field' ng-change='base_settings.changeSetting()')
        span {{ 'COLUMNS.MEMO' | translate }}
    br

    // 通貨単位の設定
    div(ng-show='base_settings.currencies')
      blockquote
        span {{ 'SETTINGS.CURRENCY' | translate }}
      p(translate='MESSAGES.SET_CURRENCY_UNIT')
      form.form-horizontal
        .form-group
          .col-sm-2
            select.form-control(ng-model='base_settings.currency' ng-options='unit for unit in base_settings.currencies' ng-change='base_settings.changeCurrency()')
