.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-leaf
    span(translate='TITLES.CATEGORIES')
  .panel-body#with-background
    .row(ng-model='categories.categories' ui-sortable='categories.sortable')
      .col-sm-3(ng-repeat='category in categories.categories' id='{{category.id}}')
        .panel.panel-body.col-sm-11(ng-show='!category.edit_field' ng-style="{'cursor': cursor_type}" ng-mouseenter="cursor_type = 'move'")
          a.pull-right
            span.glyphicon.glyphicon-trash#right-icon(ng-click='categories.destroyCategory($index)' ng-show='category.breakdowns_count == 0')
          div.category-name(ng-style="{'cursor': 'pointer'}" ng-click='categories.editCategory($index)')
            span.glyphicon.glyphicon-plus-sign.green#left-icon(ng-show='category.barance_of_payments')
            span.glyphicon.glyphicon-minus-sign.red#left-icon(ng-hide='category.barance_of_payments')
            span {{ category.name }}
          hr
          a
            span.glyphicon.glyphicon-th-list#left-icon
            span {{ category.breakdowns_count }}
        .panel.panel-body.col-sm-11#category(ng-if="category.edit_field" ng-keydown='categories.updateCategory($event, $index)')
          input.category-form(ng-value='category.name' ng-model='category.edit_name' auto-focus=true type='text')
          .btn.btn-default(translate='BUTTONS.CANCEL' ng-click='category.edit_field = false')
      .col-sm-3
        .panel.panel-body.col-sm-11.category-plus#category(ng-click='categories.addNewPanel()' ng-class="{'panel-background': 'adding'}" ng-mouseenter="adding = true" ng-mouseleave="adding = false" ng-show="!categories.add_field")
          span.glyphicon.glyphicon-plus
        .panel.panel-body.col-sm-11#category(ng-if='categories.add_field' ng-keydown='categories.createCategory($event)')
          .input-group
            .input-group-btn
              button.btn.btn-default(ng-class="{'btn-primary': !categories.new_payments}" type='button' ng-click='categories.new_payments = false')
                span.glyphicon.glyphicon-minus-sign#left-icon
                span(translate='BUTTONS.OUTGO')
              button.btn.btn-default(ng-class="{'btn-info': categories.new_payments}" type='button' ng-click='categories.new_payments = true')
                span.glyphicon.glyphicon-plus-sign#left-icon
                span(translate='BUTTONS.INCOME')
          input.category-form(ng-model='categories.new_category_name' auto-focus=true type='text')
          .btn.btn-default(translate='BUTTONS.CANCEL' ng-click='categories.add_field = false')

script#confirm-destroy(type='text/ng-template')
  .modal-body
    p(translate='MESSAGES.DELETE')
    button.btn.btn-primary(type='submit' translate='BUTTONS.YES' ng-click='confirm_destroy.ok()')
    a.btn.btn-default(ng-click='confirm_destroy.cancel()' translate='BUTTONS.CLOSE')
