.panel.panel-default
  .panel-heading
    span.glyphicon.glyphicon-map-marker#left-icon
    span(translate='TITLES.PLACE')

  .panel-body#with-background
    //- 追加パネル
    .panel.panel-body.place-plus(ng-click='places.newPlace()' ng-class="{'panel-background': 'adding'}" ng-mouseenter="adding = true" ng-mouseleave="adding = false" ng-show="!places.add_field")
      span.glyphicon.glyphicon-plus

    .panel.panel-body.place-card(ng-if='places.add_field')
      form.form-inline(novalidate=true name='newPlaceForm' ng-submit='places.submit()')
        input.form-control(name='name' ng-model='places.new_name' auto-focus=true type='text' required=true)
        button.btn.btn-success(translate='BUTTONS.ADD' ng-disabled='places.sending')
        a.btn.btn-default(translate='BUTTONS.CANCEL' ng-click='places.add_field = false')
        span.errors(ng-messages='newPlaceForm.name.$error' ng-show='newPlaceForm.$submitted')
          div(ng-message='required')
            span.glyphicon.glyphicon-alert#left-icon
            span(translate='ERRORS.REQUIRED.PLACE_NAME')

    //- 一覧パネル
    loading-directive
    .panel.panel-body.place-card(ng-repeat='place in places.places' ng-show='places.places')
      .row
        .col-sm-4
          span {{ place.name }}
        .col-sm-8
          .label.label-default(ng-repeat='category in place.categories')
            span {{ category.name }}
          a.pull-right
            span.glyphicon.glyphicon-trash#right-icon(ng-click='places.destroyPlace($index)' ng-show='place.categories.length == 0')

script#confirm-destroy(type='text/ng-template')
  .modal-body
    p(translate='MESSAGES.DELETE')
    button.btn.btn-success(type='submit' translate='BUTTONS.YES' ng-click='confirm_destroy.ok()')
    a.btn.btn-default(ng-click='confirm_destroy.cancel()' translate='BUTTONS.CLOSE')
